@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select{
  margin-top: 3rem;
  padding-bottom: 2rem;
}

select{
  padding: 0.4rem;
  font-size: medium;
  border: none;
  border-radius: 0.8rem;
  background-color: rgba(224, 224, 224, 0.582);
  outline: none;
}

#coinGeckoWidget {
  border: 0.15rem solid #e2dfdf;
  margin: 10px;
  border-radius: 0.8rem;
  width: 400px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.096);
}

label{
  font-size: large;
  padding-right: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  border-bottom: 0.15rem solid #e2dfdf;
  padding: 10px;
}

img {
  height: 3rem;
  width: 3rem;
}

.section-2 {
  display: flex;
  flex-direction: column;
  line-height: 0rem;
}

h2 {
  color: rgba(0, 0, 255, 0.658);
}

.section-last {
  padding: 10px;
}